<ul>
  <li *ngFor="let cartItem of shoppingCart$ | async">
    <div>
      <div [className]="itemCount[cartItem.item.id] === 0 ? 'itemCrossed' : ''">
        <item [item]="cartItem.item"></item>
      </div>
      <button (click)="removeItem(cartItem.item.id)">Remove Item</button>
        <label>
          <span>Quantity:</span>
          <input type="number" (keyup)="handleKeyUp({id: cartItem.item.id, count: $event.target.value})">
          <p>Count: {{itemCount | json}}</p>
          <!-- <input 
            type="text" 
            name="{{'quantity-' + cartItem.item.id}}"  
            [(ngModel)]="currentCount.val"
            > -->
        </label>
        <!-- <h2>{{currentCount.val}}</h2> -->
    </div>
  </li>
</ul>
<!-- <input type="text" value="{{itemQuantity}}" (keyup)="handleKeyUp({id:1, count: $event.target.value})"> -->
<p>{{itemQuantity}}</p>
<button (click)="saveCart()">Save Cart</button>